
/*   @import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
  @import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;500;600;700&display=swap');

@font-face {
  font-family: 'BookkMyungjo-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
} */
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
/* @font-face {
  font-family: 'HakgyoansimSantteutbatangL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimSantteutbatangL.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
    font-family: 'HakgyoansimBareonbatangR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBareonbatangR.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
} */
/* @font-face {
  font-family: 'SungDongMyungjo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/sdgu/SungDongMyungjo/SungDongMyungjoR.woff2')
      format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/sdgu/SungDongMyungjo/SungDongMyungjoR.woff')
      format('woff');
}

@font-face {
  font-family: 'ChosunSm';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'designhouseOTFLight00';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/designhouseOTFLight00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
} */
* {
    font-family: 'Orbit', sans-serif;
    /* font-family: 'HakgyoansimBareonbatangR'; */
    /* 제주명조는 !와 같은 특수문자가 오른쪽 공백이 커서 이상해짐. 유의할것 */
}