:root {
    --light: rgba(225, 245, 231, 1);
    --vivid: rgba(151, 200, 128, 1);
    --deep: rgba(71, 71, 71, 1);
    --dark: rgba(0, 0, 0, 1);
    --hilight: rgb(108, 125, 255);
}
  
* {
  font-size: 14px;
  box-sizing: border-box;

  overflow: hidden;
  
  color: var(--light);
  
}
*:focus {
  outline: 1px solid var(--light);
  outline: none;
  box-shadow: inset 0px 0px 0px 1px var(--light);
}

div {
    text-align: left;
}

div, span, button {
}

#App {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    position: relative;
    height: 100vh;

}

#view {
  overflow: auto;
  
  width: 100%;
  height: 100%;

}
#background {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  z-index: -1;
  transition: none;
}

body {
    margin: 0px;
  }

.IOI {
    width: 100%;
}
.IOI:hover {
    box-shadow: inset 0px 0px 0px 1px var(--light);
}
.IOI:not(:has(.IOI:hover)):hover {
    box-shadow: inset 0px 0px 0px 4px var(--light);
}
.main {
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
    /* border: 1px solid var(--light);  */
    box-shadow: inset 0px 0px 0px 1px var(--deep);
    /*
    margin-right: -1px;
    margin-bottom: -1px; */
}

button, input, select {
  
  font-size: 14px;
  padding: 0.5em 0.5em 0.5em 0.5em;

  background-color: var(--dark);
  color: var(--light);
  
  border: 0px solid transparent;
  border-radius: 0px;

  box-shadow: inset 0px 0px 0px 1px var(--deep);

}
button:hover {

    border-radius: 0px;

    box-shadow: inset 0px 0px 0px 1px var(--light),
                0px 0px 10px 0px var(--light);
}
button:active {

    border-radius: 0px;

    background-color: var(--light);
    color: var(--dark);
}
button:focus {

}


.border {
  border: 1px solid var(--light);
  box-shadow: inset 0px 0px 0px 1px var(--light);
  box-shadow: inset 0px 0px 0px 1px yellow, inset 1px 0px 0px 1px blue;
}

#keyboard_toolbar {
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: var(--deep);
  width: 100vw;
  height: 30px;
  display: flex;
  flex-direction: row;
  z-index: 4;
}
#command_palette {
  display: none;

  position: sticky;
  margin-top: 160px;
  background-color: rgba(54, 54, 54, 1);

  width: 75vw;
  height: fit-content;
  left: ((100-@width)/2);
  z-index: 4;
}
#command_palette textarea {
    width: 100%;
    height: fit-content;
    color: white;
    border: 1px solid transparent;
    background-color: transparent;
    resize: none;
    box-sizing: border-box;
    font-size: 16px !important;
    padding: 4px;
}

    
.MultilineTextarea {
  border-left: 1px solid var(--deep);
}

.IOI:hover > .MultilineTextarea {
  border-left: 1px solid var(--light);
}

.MultilineTextarea:hover {
  border-left: 8px solid var(--light) !important;
}

::-webkit-scrollbar {
	width: 6px;
}

/* 스크롤바 막대 꾸미기 */
::-webkit-scrollbar-thumb {
	background-color: white;
  min-height: 50px;
	
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {

	
}
